.cabecalho{
  background: url('/src/img/capa-rest.jpg') no-repeat center / cover;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.cabecalho h1{
  background-color: #F13617;
  opacity: 0.6;
  width: 100%;
  text-align: center;
  color: #ffffff;

}
.cabecalho .texto-cozinha{
  color: #ffff00;
  font-weight: bold;
  font-size: 3.2rem;
}
.cabecalho img{
  width: 25%;
 
}
.menu{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
  background: rgba(0,0,0,0.6);
  width: 100%;
}
.menu ul{
  display: flex;
  margin:1rem;
  width: 40%;
  justify-content: space-around;
  font-size: 1.3rem;
}
.menu a{
  color: #ffffff;
  
}
.menu a:hover{
  color:#ffff00
}
@media screen and (min-width:0) {
  .menu ul{
    width: 100%;
  }
  .cabecalho {
    font-size: 0.7rem;
  }
}
@media screen and (min-width:768px) {
  .menu ul{
    width: 40%;

  }
}